<!DOCTYPE HTML>
<html>
  <head>
    <title>sol</title>
    <script type="text/javascript" src="/static/js/socket.io.slim.js"></script>
    <script src="https://aframe.io/releases/0.7.0/aframe.min.js"></script>
    <script src="https://wizgrav.github.io/aframe-effects/dist/aframe-effects.min.js"></script>
    <script type="text/javascript">
    window.onload = function() {
        var socket = io(),
            mercury = document.getElementById('mercury').object3D.position,
            venus = document.getElementById('venus').object3D.position,
            earth = document.getElementById('earth').object3D.position,
            mars = document.getElementById('mars').object3D.position,
            jupiter = document.getElementById('jupiter').object3D.position,
            time = document.getElementById('time');

        socket.on('tick', function(c) {
            requestAnimationFrame(function() {
                // z and y axes are swapped because the camera is looking down along the y-axis
                mercury.set(c.mercury.x, c.mercury.z, c.mercury.y);
                venus.set(c.venus.x, c.venus.z, c.venus.y);
                earth.set(c.earth.x, c.earth.z, c.earth.y);
                mars.set(c.mars.x, c.mars.z, c.mars.y);
                jupiter.set(c.jupiter.x, c.jupiter.z, c.jupiter.y);
                time.setAttribute('value', c.t);
            });
        });
    };
    </script>
  </head>
  <body>
    <a-scene effects="bloom, fxaa" fxaa style="background-color: #000;">
      <a-entity light="type: point; color: #EEE; intensity: 1; castShadow: true;" position="0 0 0"></a-entity>

      <a-camera position="0 7000 0" rotation="-90 0 0" look-controls wasd-controls="wsAxis: y; acceleration: 50000;">
          <a-text id="time" position="-1 0 -1" rotation="0 0 0" color="#ffffff" height="1" width="1" value=""></a-text>
      </a-camera>

      <a-entity id="sun" scale="5 5 5" bloom="strength: 1.6; radius: 0.3;" position="0 0 0" geometry="primitive: sphere; radius: 30; segmentsHeight: 100; segmentsWidth: 100;" material="shader: flat;">
        <a-animation attribute="rotation" dur="3000" from="0 0 0" to="0 360 0" repeat="indefinite" easing="linear"></a-animation>
      </a-entity>

      <a-entity id="mercury" scale="0.3829 0.3829 0.3829" position="0 0 0" geometry="primitive: sphere; radius: 30; segmentsHeight: 100; segmentsWidth: 100;" material="src: http://cortex.io/sol/mercury.jpg; shader: standard; roughness: 1;">
        <a-animation attribute="rotation" dur="3000" from="0 0 0" to="0 360 0" repeat="infinite" easing="linear"></a-animation>
      </a-entity>

      <a-entity id="venus" scale="0.9499 0.9499 0.9499" position="0 0 0" geometry="primitive: sphere; radius: 30; segmentsHeight: 100; segmentsWidth: 100;" material="src: http://cortex.io/sol/venus.jpg; shader: standard; roughness: 1;">
          <a-animation attribute="rotation" dur="3000" from="0 0 0" to="0 360 0" repeat="infinite" easing="linear"></a-animation>
      </a-entity>

      <a-entity id="earth" rotation="0 23 0" scale="1 1 1" position="0 0 0" geometry="primitive: sphere; radius: 30; segmentsHeight: 100; segmentsWidth: 100;" material="src: http://cortex.io/sol/earth_atmos_4096.jpg; shader: standard; roughness: 1;">
        <a-animation attribute="rotation" dur="3000" from="0 0 0" to="0 360 0" repeat="indefinite" easing="linear"></a-animation>
      </a-entity>

      <a-entity id="mars" scale="0.5320 0.5320 0.5320" position="0 0 0" geometry="primitive: sphere; radius: 30; segmentsHeight: 100; segmentsWidth: 100;" material="src: http://cortex.io/sol/mars.jpg; shader: standard; roughness: 1;">
        <a-animation attribute="rotation" dur="3000" from="0 0 0" to="0 360 0" repeat="indefinite" easing="linear"></a-animation>
      </a-entity>

      <a-entity id="jupiter" scale="10.97 10.97 10.97" position="0 0 0" geometry="primitive: sphere; radius: 30; segmentsHeight: 100; segmentsWidth: 100;" material="src: http://cortex.io/sol/jupiter.jpg; shader: standard; roughness: 1;">
          <a-animation attribute="rotation" dur="3000" from="0 0 0" to="0 360 0" repeat="infinite" easing="linear"></a-animation>
      </a-entity>
    </a-scene>
  </body>
</html>
